{
  "db": {
    "host": "DATABSE URL HERE - PROBABLY localhost OR 127.0.0.1",
    "port": 5432,
    "database": "",
    "user": "",
    "password": "",
    "max": 5,
    "idleTimeoutMillis": 5000
  },
  "token": "GET.A.TOKEN.FROM.DISCORD.DEVELOPER.PORTAL at https://discord.com/developers/applications"
}
