{
  "db": {
    "host": "DATABSE URL HERE - PROBABLY localhost OR 127.0.0.1",
    "port": 5432,
    "database": "",
    "user": "",
    "password": "",
    "max": 5,
    "idleTimeoutMillis": 5000
  },
  "token": "GET.A.TOKEN.FROM.DISCORD.DEVELOPER.PORTAL at https://discord.com/developers/applications",
  "webPush": {
    "clientPort": 5000,
    "vapid": {
      "public": "USE web-push generate-vapid-keys [--json]",
      "private": "to generate your public/private key pair and paste them here"
    },
    "credentials": {
      "type": "service_account",
      "project_id": "my-project-fcm",
      "private_key_id": "get these credentials from your firebase console at https://firebase.google.com/",
      "private_key": "",
      "client_email": "some-random-string@my-project-fcm.iam.gserviceaccount.com",
      "client_id": "",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth",
      "token_uri": "https://oauth2.googleapis.com/token",
      "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
      "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/somerandomstring%40my-project-fcm.iam.gserviceaccount.com"
    },
    "databaseURL": "https://my-project-fcm.firebaseio.com",
    "firebaseSenderId": 1234567,
    "firebaseServerId": ""
  }
}
